<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="framelib::framelib">
</head>
<script>
    function edit(){
        window.location.href="/glance/impWord";
    }
</script>
<body>
<nav th:replace="/glance/common/common::header"></nav>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
            <div style="margin-top: 10px;">
                <span style="font-size: 36px;">单词</span>
                <a class="btn btn-lg btn-primary" style="float: right;" onclick="edit();">添加</a>
            </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>单词</th>
                    <th>读音</th>
                    <th>解释</th>
                    <th>导入日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="word, stat : ${list}">
                    <td th:text="${stat.index+1}">#</td>
                    <td th:text="${word.word}">&nbsp;</td>
                    <td th:text="${word.pronunciation}">&nbsp;</td>
                    <td th:text="${word.description}">&nbsp;</td>
                    <td th:text="${#dates.format(word.impDate, 'yyyy-MM-dd')}">&nbsp;</td>
                    <td>&nbsp;
                        <a th:text="删除" th:href="@{'del?id='+${word.id}}">&nbsp;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </main>
    </div></div>
</body>
</html>