<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="framelib::framelib">
</head>
<body>
<script>
    function add(){
        window.location.href="edit";
    }
</script>
<div class="container-fluid">
    <div class="row">
        <h2>事项</h2>
        <button type="button" class="btn btn-lg btn-primary text-right" onclick="add();">添加</button>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>单词</th>
                    <th>读音</th>
                    <th>解释</th>
                    <th>导入日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="word, stat : ${list}">
                    <td th:text="${stat.index+1}">#</td>
                    <td th:text="${word.word}">&nbsp;</td>
                    <td th:text="${word.pronunciation}">&nbsp;</td>
                    <td th:text="${word.explain}">&nbsp;</td>
                    <td th:text="${word.impDate}">&nbsp;</td>
                    <td>&nbsp;
                        <a th:text="删除" th:href="@{'del?id='+${word.id}}">&nbsp;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div></div>
</body>
</html>