<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="framelib::framelib">
</head>
<body>
<nav th:replace="/glance/common/common::header"></nav>
<div class="container-fluid">
    <div class="row">
<h2>导入统计</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>导入日期</th>
            <th>单词数量</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="impStat, stat : ${list}">
            <td th:text="${stat.index+1}">#</td>
            <td th:text="${#dates.format(impStat.impDate, 'yyyy-MM-dd')}">&nbsp;</td>
            <td th:text="${impStat.impNum}">&nbsp;</td>
            <td>&nbsp;
                <a >查看</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    </div></div>
</body>
</html>