<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="framelib::framelib">
</head>
<body>
<nav th:replace="glance/common/common::header"></nav>
<div class="container">
<div class="row">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">导入</h4>
        <form action="uploadWord" enctype="multipart/form-data" method="post" class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label >选择文件</label>
                    <input type="file" id="file" name="file" >   

                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>
        </form>
    </div>
</div>
</div>

</body>
</html>