
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="framelib::framelib">
</head>
<link th:href="@{/swiper/style.css}" rel="stylesheet">
<link th:href="@{/swiper/swiper.min.css}" rel="stylesheet">
<link th:href="@{/swiper/swiper-bundle.min.css}" rel="stylesheet">
<body>
<nav th:replace="/glance/common/common::header"></nav>
<!-- Swiper   swiper-slide-prev swiper-slide-next -->
<div class="swiper-container swiper-container-initialized swiper-container-horizontal">

    <div class="swiper-wrapper" th:each="word, stat : ${list}">
        <div class="swiper-slide swiper-slide-active" style="width: 100%;" >
            [[${word.word}]]<br/>[[${word.pronunciation}]]<br/>[[${word.description}]]
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-progressbar" style="margin-top: 85%; height: 4%;"><span class="swiper-pagination-progressbar-fill" style="transform: translate3d(0px, 0px, 0px) scaleX(0.1) scaleY(1); transition: all 300ms ease 0s;"></span></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
    <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-disabled="true"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

<script th:src="@{/swiper/swiper.min.js}"></script>
<script th:src="@{/swiper/swiper-bundle.min.js}"></script>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

</body>
</html>