<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="framelib">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="lidaning's springboot!">
<meta name="author" content="lidaning">
<!--    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">-->

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/assets/css/jumbotron.css}" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<script th:src="@{/assets/js/ie-emulation-modes-warning.js}"></script>
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"></script>
<![endif]-->
</head>
<body>

</body>
</html>